<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.roxburydynamic.stock-app"
        version   = "1.0.0">

    <name>Stock App</name>

    <description>
        Stock Scanner App.
    </description>

    <preference name="phonegap-version" value="3.0.0" /> 
    <preference name="permissions" value="none"/>

    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
</widget>